<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/index.css">
		<script src="/static/js/jquery-2.2.4.js"></script>
  		<title></title>
	</head>
	<body>
		<div class="grid">
			{% block body %}
			<div class="row">
				<div class="col-xs-6 banner-i">
					<a href="/"><img alt="img" class="img-responsive" id="logo-img"/></a>
				</div>
				{% if session['logged_in'] %}
			
				<div class="col-xs-6 text-right">	
					<a href="/admin_settings"><img alt="login-btn"src="/static/images/settings-gears.png"/></a>
					<a href="/logout"><img alt="login-btn"src="/static/images/logout.png"/></a>	
				</div>
		
			</div>

				{% else %}
				<div class="col-xs-6 text-right">	
					<a href="/login_page"><img alt="login-btn"src="/static/images/user.png"/></a>
			</div>
			{% endif %}
			{% endblock %}
	</body>
	<script>
		var htmlFile = location.pathname;
		switch (htmlFile) {
			    case "/statistiques/":
				document.getElementById('logo-img').src ="/static/images/graph-banner.png";
				break;
			    case "/live-data/":
				document.getElementById('logo-img').src ="/static/images/cruise-banner.png";
				break;
			    case "/login_page/":
				document.getElementById('logo-img').src ="/static/images/login-banner.png";
				break;
			    case "/admin_settings/":
				document.getElementById('logo-img').src ="/static/images/settings-gears-banner.png";
				break;
			    case "/":
				document.getElementById('logo-img').src ="/static/images/BoatLink.png";
				break;
			    case "/login":
				document.getElementById('logo-img').src ="/static/images/BoatLink.png";
				break;
			    case "/logout":
				document.getElementById('logo-img').src ="/static/images/BoatLink.png";
				break;
		}
	</script>

</html>
